extends layout

block content
   .container
      
      h2.text-center.top-buffer NodeJS User Registration Tutorial
      form.form-horizontal(role="form", method="post")
        .form-group
          .alert.alert-danger(role='alert', id="msgDiv")

        .form-group
          label.col-sm-3.control-label(for="firstname") 
           strong First Name
          .col-sm-9
            input#firstname.form-control(type="text" placeholder="First Name" autofocus="" value="")

        .form-group
          label.col-sm-3.control-label(for="lastname") 
           strong last Name
          .col-sm-9
            input#lastname.form-control(type="text" placeholder="last Name" autofocus="" value="")

        .form-group
          label.col-sm-3.control-label(for="email") 
           strong Email
          .col-sm-9
            input#email.form-control(type="email" placeholder="Email")
        .form-group
          label.col-sm-3.control-label(for="phone") 
           strong Phone
          .col-sm-9
            input#phone.form-control(type="text" placeholder="Phone")
        
        .form-group
          label.col-sm-3.control-label(for="country") 
           strong Country
          .col-sm-9
            select#country.form-control
              option(value='') Please Select
              option INDIA
              option United Kingdom	
              option Germany
              option Denmark
              option Ecuador
              option Canada
              option France
              option Others
        .form-group
          label.col-sm-3.control-label(for="state") 
           strong state
          .col-sm-9
            input#state.form-control(type="text" placeholder="state" autofocus="" value="")
        .form-group
          .col-sm-9.col-sm-offset-3
            .checkbox
              label
                input#terms(type="checkbox" value="yes" name="terms")
                | &nbsp;I accept 
                a(href="#") terms
        .form-group
          .col-sm-9.col-sm-offset-3
            button#register.btn.btn-primary.btn-block(type="e") Register
